* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: "Ubuntu", sans-serif;
}

html {
  font-size: 62.5%;
}

.contenedor {
  width: 100%;
  height: 100vh;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: all 0.1s;
}

/* Para interruptor */
.switch.contenedor {
  background-color: #262431;
}

.fondo-redondeado {
  width: 120rem;
  height: 120rem;
  border-radius: 10%;
  background: linear-gradient(225deg, #ff900b, #ff505b);
  position: absolute;
  top: -70%;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0 1rem 5rem rgba(248, 106, 59, 0.2);
}

/* Para interruptor */
.switch .fondo-redondeado {
  background: linear-gradient(225deg, #93cdff, #3c3a74);
  box-shadow: 0 1rem 5rem rgba(60, 58, 115, 0.5);
}

.envoltura-formulario {
  width: 80rem;
  height: 60rem;
  background-color: white;
  display: flex;
  border-radius: 3rem;
  box-shadow: 0 2rem 6rem rgba(6, 12, 15, 0.2);
  position: relative;
  z-index: 100;
  transition: all 0.1s;
}

/* Para interruptor */
.switch .envoltura-formulario {
  background-color: #262431;
}

.envoltura-formulario-izquierda {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10rem 0 20rem 0;
}

.sol-luna {
  width: 12rem;
  height: 12rem;
  background: linear-gradient(225deg, #ff900b, #ff505b);
  border-radius: 50%;
  /* Para interruptor */
  position: relative;
}

/* Para interruptor */
.switch .sol-luna {
  background: linear-gradient(225deg, #93cdff, #3c3a74);
  box-shadow: none;
}

/* Para interruptor */
.sol-luna::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 9.5rem;
  height: 9.5rem;
  border-radius: 50%;
  background-color: #fff;
  transform: scale(0);
  transition: transform 0.5s;
}

/* Para interruptor */
.switch .sol-luna::after {
  background-color: #262431;
  transform: scale(1);
}

.envoltura-formulario-izquierda button {
  width: 20rem;
  height: 4rem;
  background-color: #e8e8e8;
  border: none;
  border-radius: 3rem;
  font-size: 1.5rem;
  cursor: pointer;
  position: relative;
}

/* Para interruptor */
.switch .envoltura-formulario-izquierda button {
  background-color: #1e1c28;
  color: #bbb;
}

.envoltura-formulario-izquierda button span {
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
}

.fondo {
  background-color: white;
  border-radius: 3rem;
  left: 0;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

/* Para interruptor */
.switch .fondo {
  transform: translateX(100%);
  background-color: #34323e;
}

.dia,
.noche {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dia {
  left: 0;
}

.noche {
  right: 0;
}

.envoltura-formulario-derecha {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 8rem 0;
}

.envoltura-formulario-derecha h1 {
  font-size: 5rem;
  color: #777;
}

.campo {
  width: 30rem;
  height: 5rem;
  border: none;
  border-bottom: 0.2rem solid #bbb;
  font-size: 1.4rem;
  color: #555;
  background-color: transparent;
}

/* Para interruptor */
.switch .campo {
  color: #bbb;
}

.campo::placeholder {
  text-transform: uppercase;
  font-size: 1.4rem;
  color: #bbb;
  letter-spacing: 0.1rem;
}

.envoltura-formulario-derecha .msg {
  height: 10rem;
  resize: none;
}

.envoltura-formulario-derecha button {
  width: 30rem;
  height: 4.5rem;
  background-color: #262431;
  border: none;
  border-radius: 3rem;
  color: #bbb;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  cursor: pointer;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
}

/* Para interruptor */
.switch .envoltura-formulario-derecha button {
  background-color: #bbb;
  color: #262431;
}
